<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luoshi.mapper.TbBackmoneyMapper" >
  <resultMap id="BaseResultMap" type="com.luoshi.pojo.TbBackmoney" >
    <id column="bm_id" property="bmId" jdbcType="INTEGER" />
    <result column="bm_dept_id" property="bmDeptId" jdbcType="INTEGER" />
    <result column="bm_group_id" property="bmGroupId" jdbcType="INTEGER" />
    <result column="bm_user_id" property="bmUserId" jdbcType="INTEGER" />
    <result column="bm_shop_name" property="bmShopName" jdbcType="VARCHAR" />
    <result column="bm_goods_id" property="bmGoodsId" jdbcType="INTEGER" />
    <result column="bm_yhq_name" property="bmYhqName" jdbcType="VARCHAR" />
    <result column="bm_online_time" property="bmOnlineTime" jdbcType="TIMESTAMP" />
    <result column="bm_offline_time" property="bmOfflineTime" jdbcType="TIMESTAMP" />
    <result column="bm_type" property="bmType" jdbcType="VARCHAR" />
    <result column="bm_make_money" property="bmMakeMoney" jdbcType="DOUBLE" />
    <result column="bm_back_money" property="bmBackMoney" jdbcType="DOUBLE" />
    <result column="bm_surplus" property="bmSurplus" jdbcType="DOUBLE" />
    <result column="bm_make_account" property="bmMakeAccount" jdbcType="VARCHAR" />
    <result column="bm_make_time" property="bmMakeTime" jdbcType="TIMESTAMP" />
    <result column="bm_create_time" property="bmCreateTime" jdbcType="TIMESTAMP" />
    <result column="bm_text" property="bmText" jdbcType="VARCHAR" />
    <result column="bm_yhq_photo" property="bmYhqPhoto" jdbcType="VARCHAR" />
    <result column="bm_confirm_type" property="bmConfirmType" jdbcType="VARCHAR" />
    <result column="bm_make_photo" property="bmMakePhoto" jdbcType="VARCHAR" />
    <result column="bm_byzd" property="bmByzd" jdbcType="VARCHAR" />
    <result column="bm_back_type" property="bmBackType" jdbcType="VARCHAR" />
    <result column="bm_user_name" property="bmUserName" jdbcType="VARCHAR" />
    <result column="bm_back_bl" property="bmBackBl" jdbcType="VARCHAR" />
    <result column="bm_back_account" property="bmBackAccount" jdbcType="VARCHAR" />
    <result column="bm_back_account_number" property="bmBackAccountNumber" jdbcType="VARCHAR" />
    <result column="bm_dingdan_type" property="bmDingdanType" jdbcType="VARCHAR" />
    <result column="bm_shop_id" property="bmShopId" jdbcType="INTEGER" />
    <result column="bm_timeId" property="bmTimeid" jdbcType="BIGINT" />
    <result column="bm_make_time_end" property="bmMakeTimeEnd" jdbcType="TIMESTAMP" />
    <result column="bm_create_time_end" property="bmCreateTimeEnd" jdbcType="TIMESTAMP" />
    <result column="bm_sh_photo" property="bmShPhoto" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    bm_id, bm_dept_id, bm_group_id, bm_user_id, bm_shop_name, bm_goods_id, bm_yhq_name, 
    bm_online_time, bm_offline_time, bm_type, bm_make_money, bm_back_money, bm_surplus, 
    bm_make_account, bm_make_time, bm_create_time, bm_text, bm_yhq_photo, bm_confirm_type, 
    bm_make_photo, bm_byzd, bm_back_type, bm_user_name, bm_back_bl, bm_back_account, 
    bm_back_account_number, bm_dingdan_type, bm_shop_id, bm_timeId, bm_make_time_end, 
    bm_create_time_end, bm_sh_photo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luoshi.pojo.TbBackmoneyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_backmoney
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_backmoney
    where bm_id = #{bmId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_backmoney
    where bm_id = #{bmId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luoshi.pojo.TbBackmoneyExample" >
    delete from tb_backmoney
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luoshi.pojo.TbBackmoney" >
    insert into tb_backmoney (bm_id, bm_dept_id, bm_group_id, 
      bm_user_id, bm_shop_name, bm_goods_id, 
      bm_yhq_name, bm_online_time, bm_offline_time, 
      bm_type, bm_make_money, bm_back_money, 
      bm_surplus, bm_make_account, bm_make_time, 
      bm_create_time, bm_text, bm_yhq_photo, 
      bm_confirm_type, bm_make_photo, bm_byzd, 
      bm_back_type, bm_user_name, bm_back_bl, 
      bm_back_account, bm_back_account_number, bm_dingdan_type, 
      bm_shop_id, bm_timeId, bm_make_time_end, 
      bm_create_time_end, bm_sh_photo)
    values (#{bmId,jdbcType=INTEGER}, #{bmDeptId,jdbcType=INTEGER}, #{bmGroupId,jdbcType=INTEGER}, 
      #{bmUserId,jdbcType=INTEGER}, #{bmShopName,jdbcType=VARCHAR}, #{bmGoodsId,jdbcType=INTEGER}, 
      #{bmYhqName,jdbcType=VARCHAR}, #{bmOnlineTime,jdbcType=TIMESTAMP}, #{bmOfflineTime,jdbcType=TIMESTAMP}, 
      #{bmType,jdbcType=VARCHAR}, #{bmMakeMoney,jdbcType=DOUBLE}, #{bmBackMoney,jdbcType=DOUBLE}, 
      #{bmSurplus,jdbcType=DOUBLE}, #{bmMakeAccount,jdbcType=VARCHAR}, #{bmMakeTime,jdbcType=TIMESTAMP}, 
      #{bmCreateTime,jdbcType=TIMESTAMP}, #{bmText,jdbcType=VARCHAR}, #{bmYhqPhoto,jdbcType=VARCHAR}, 
      #{bmConfirmType,jdbcType=VARCHAR}, #{bmMakePhoto,jdbcType=VARCHAR}, #{bmByzd,jdbcType=VARCHAR}, 
      #{bmBackType,jdbcType=VARCHAR}, #{bmUserName,jdbcType=VARCHAR}, #{bmBackBl,jdbcType=VARCHAR}, 
      #{bmBackAccount,jdbcType=VARCHAR}, #{bmBackAccountNumber,jdbcType=VARCHAR}, #{bmDingdanType,jdbcType=VARCHAR}, 
      #{bmShopId,jdbcType=INTEGER}, #{bmTimeid,jdbcType=BIGINT}, #{bmMakeTimeEnd,jdbcType=TIMESTAMP}, 
      #{bmCreateTimeEnd,jdbcType=TIMESTAMP}, #{bmShPhoto,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luoshi.pojo.TbBackmoney" >
    insert into tb_backmoney
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bmId != null" >
        bm_id,
      </if>
      <if test="bmDeptId != null" >
        bm_dept_id,
      </if>
      <if test="bmGroupId != null" >
        bm_group_id,
      </if>
      <if test="bmUserId != null" >
        bm_user_id,
      </if>
      <if test="bmShopName != null" >
        bm_shop_name,
      </if>
      <if test="bmGoodsId != null" >
        bm_goods_id,
      </if>
      <if test="bmYhqName != null" >
        bm_yhq_name,
      </if>
      <if test="bmOnlineTime != null" >
        bm_online_time,
      </if>
      <if test="bmOfflineTime != null" >
        bm_offline_time,
      </if>
      <if test="bmType != null" >
        bm_type,
      </if>
      <if test="bmMakeMoney != null" >
        bm_make_money,
      </if>
      <if test="bmBackMoney != null" >
        bm_back_money,
      </if>
      <if test="bmSurplus != null" >
        bm_surplus,
      </if>
      <if test="bmMakeAccount != null" >
        bm_make_account,
      </if>
      <if test="bmMakeTime != null" >
        bm_make_time,
      </if>
      <if test="bmCreateTime != null" >
        bm_create_time,
      </if>
      <if test="bmText != null" >
        bm_text,
      </if>
      <if test="bmYhqPhoto != null" >
        bm_yhq_photo,
      </if>
      <if test="bmConfirmType != null" >
        bm_confirm_type,
      </if>
      <if test="bmMakePhoto != null" >
        bm_make_photo,
      </if>
      <if test="bmByzd != null" >
        bm_byzd,
      </if>
      <if test="bmBackType != null" >
        bm_back_type,
      </if>
      <if test="bmUserName != null" >
        bm_user_name,
      </if>
      <if test="bmBackBl != null" >
        bm_back_bl,
      </if>
      <if test="bmBackAccount != null" >
        bm_back_account,
      </if>
      <if test="bmBackAccountNumber != null" >
        bm_back_account_number,
      </if>
      <if test="bmDingdanType != null" >
        bm_dingdan_type,
      </if>
      <if test="bmShopId != null" >
        bm_shop_id,
      </if>
      <if test="bmTimeid != null" >
        bm_timeId,
      </if>
      <if test="bmMakeTimeEnd != null" >
        bm_make_time_end,
      </if>
      <if test="bmCreateTimeEnd != null" >
        bm_create_time_end,
      </if>
      <if test="bmShPhoto != null" >
        bm_sh_photo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bmId != null" >
        #{bmId,jdbcType=INTEGER},
      </if>
      <if test="bmDeptId != null" >
        #{bmDeptId,jdbcType=INTEGER},
      </if>
      <if test="bmGroupId != null" >
        #{bmGroupId,jdbcType=INTEGER},
      </if>
      <if test="bmUserId != null" >
        #{bmUserId,jdbcType=INTEGER},
      </if>
      <if test="bmShopName != null" >
        #{bmShopName,jdbcType=VARCHAR},
      </if>
      <if test="bmGoodsId != null" >
        #{bmGoodsId,jdbcType=INTEGER},
      </if>
      <if test="bmYhqName != null" >
        #{bmYhqName,jdbcType=VARCHAR},
      </if>
      <if test="bmOnlineTime != null" >
        #{bmOnlineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bmOfflineTime != null" >
        #{bmOfflineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bmType != null" >
        #{bmType,jdbcType=VARCHAR},
      </if>
      <if test="bmMakeMoney != null" >
        #{bmMakeMoney,jdbcType=DOUBLE},
      </if>
      <if test="bmBackMoney != null" >
        #{bmBackMoney,jdbcType=DOUBLE},
      </if>
      <if test="bmSurplus != null" >
        #{bmSurplus,jdbcType=DOUBLE},
      </if>
      <if test="bmMakeAccount != null" >
        #{bmMakeAccount,jdbcType=VARCHAR},
      </if>
      <if test="bmMakeTime != null" >
        #{bmMakeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bmCreateTime != null" >
        #{bmCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bmText != null" >
        #{bmText,jdbcType=VARCHAR},
      </if>
      <if test="bmYhqPhoto != null" >
        #{bmYhqPhoto,jdbcType=VARCHAR},
      </if>
      <if test="bmConfirmType != null" >
        #{bmConfirmType,jdbcType=VARCHAR},
      </if>
      <if test="bmMakePhoto != null" >
        #{bmMakePhoto,jdbcType=VARCHAR},
      </if>
      <if test="bmByzd != null" >
        #{bmByzd,jdbcType=VARCHAR},
      </if>
      <if test="bmBackType != null" >
        #{bmBackType,jdbcType=VARCHAR},
      </if>
      <if test="bmUserName != null" >
        #{bmUserName,jdbcType=VARCHAR},
      </if>
      <if test="bmBackBl != null" >
        #{bmBackBl,jdbcType=VARCHAR},
      </if>
      <if test="bmBackAccount != null" >
        #{bmBackAccount,jdbcType=VARCHAR},
      </if>
      <if test="bmBackAccountNumber != null" >
        #{bmBackAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="bmDingdanType != null" >
        #{bmDingdanType,jdbcType=VARCHAR},
      </if>
      <if test="bmShopId != null" >
        #{bmShopId,jdbcType=INTEGER},
      </if>
      <if test="bmTimeid != null" >
        #{bmTimeid,jdbcType=BIGINT},
      </if>
      <if test="bmMakeTimeEnd != null" >
        #{bmMakeTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="bmCreateTimeEnd != null" >
        #{bmCreateTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="bmShPhoto != null" >
        #{bmShPhoto,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luoshi.pojo.TbBackmoneyExample" resultType="java.lang.Integer" >
    select count(*) from tb_backmoney
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_backmoney
    <set >
      <if test="record.bmId != null" >
        bm_id = #{record.bmId,jdbcType=INTEGER},
      </if>
      <if test="record.bmDeptId != null" >
        bm_dept_id = #{record.bmDeptId,jdbcType=INTEGER},
      </if>
      <if test="record.bmGroupId != null" >
        bm_group_id = #{record.bmGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.bmUserId != null" >
        bm_user_id = #{record.bmUserId,jdbcType=INTEGER},
      </if>
      <if test="record.bmShopName != null" >
        bm_shop_name = #{record.bmShopName,jdbcType=VARCHAR},
      </if>
      <if test="record.bmGoodsId != null" >
        bm_goods_id = #{record.bmGoodsId,jdbcType=INTEGER},
      </if>
      <if test="record.bmYhqName != null" >
        bm_yhq_name = #{record.bmYhqName,jdbcType=VARCHAR},
      </if>
      <if test="record.bmOnlineTime != null" >
        bm_online_time = #{record.bmOnlineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bmOfflineTime != null" >
        bm_offline_time = #{record.bmOfflineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bmType != null" >
        bm_type = #{record.bmType,jdbcType=VARCHAR},
      </if>
      <if test="record.bmMakeMoney != null" >
        bm_make_money = #{record.bmMakeMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.bmBackMoney != null" >
        bm_back_money = #{record.bmBackMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.bmSurplus != null" >
        bm_surplus = #{record.bmSurplus,jdbcType=DOUBLE},
      </if>
      <if test="record.bmMakeAccount != null" >
        bm_make_account = #{record.bmMakeAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.bmMakeTime != null" >
        bm_make_time = #{record.bmMakeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bmCreateTime != null" >
        bm_create_time = #{record.bmCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bmText != null" >
        bm_text = #{record.bmText,jdbcType=VARCHAR},
      </if>
      <if test="record.bmYhqPhoto != null" >
        bm_yhq_photo = #{record.bmYhqPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.bmConfirmType != null" >
        bm_confirm_type = #{record.bmConfirmType,jdbcType=VARCHAR},
      </if>
      <if test="record.bmMakePhoto != null" >
        bm_make_photo = #{record.bmMakePhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.bmByzd != null" >
        bm_byzd = #{record.bmByzd,jdbcType=VARCHAR},
      </if>
      <if test="record.bmBackType != null" >
        bm_back_type = #{record.bmBackType,jdbcType=VARCHAR},
      </if>
      <if test="record.bmUserName != null" >
        bm_user_name = #{record.bmUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.bmBackBl != null" >
        bm_back_bl = #{record.bmBackBl,jdbcType=VARCHAR},
      </if>
      <if test="record.bmBackAccount != null" >
        bm_back_account = #{record.bmBackAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.bmBackAccountNumber != null" >
        bm_back_account_number = #{record.bmBackAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.bmDingdanType != null" >
        bm_dingdan_type = #{record.bmDingdanType,jdbcType=VARCHAR},
      </if>
      <if test="record.bmShopId != null" >
        bm_shop_id = #{record.bmShopId,jdbcType=INTEGER},
      </if>
      <if test="record.bmTimeid != null" >
        bm_timeId = #{record.bmTimeid,jdbcType=BIGINT},
      </if>
      <if test="record.bmMakeTimeEnd != null" >
        bm_make_time_end = #{record.bmMakeTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bmCreateTimeEnd != null" >
        bm_create_time_end = #{record.bmCreateTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bmShPhoto != null" >
        bm_sh_photo = #{record.bmShPhoto,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_backmoney
    set bm_id = #{record.bmId,jdbcType=INTEGER},
      bm_dept_id = #{record.bmDeptId,jdbcType=INTEGER},
      bm_group_id = #{record.bmGroupId,jdbcType=INTEGER},
      bm_user_id = #{record.bmUserId,jdbcType=INTEGER},
      bm_shop_name = #{record.bmShopName,jdbcType=VARCHAR},
      bm_goods_id = #{record.bmGoodsId,jdbcType=INTEGER},
      bm_yhq_name = #{record.bmYhqName,jdbcType=VARCHAR},
      bm_online_time = #{record.bmOnlineTime,jdbcType=TIMESTAMP},
      bm_offline_time = #{record.bmOfflineTime,jdbcType=TIMESTAMP},
      bm_type = #{record.bmType,jdbcType=VARCHAR},
      bm_make_money = #{record.bmMakeMoney,jdbcType=DOUBLE},
      bm_back_money = #{record.bmBackMoney,jdbcType=DOUBLE},
      bm_surplus = #{record.bmSurplus,jdbcType=DOUBLE},
      bm_make_account = #{record.bmMakeAccount,jdbcType=VARCHAR},
      bm_make_time = #{record.bmMakeTime,jdbcType=TIMESTAMP},
      bm_create_time = #{record.bmCreateTime,jdbcType=TIMESTAMP},
      bm_text = #{record.bmText,jdbcType=VARCHAR},
      bm_yhq_photo = #{record.bmYhqPhoto,jdbcType=VARCHAR},
      bm_confirm_type = #{record.bmConfirmType,jdbcType=VARCHAR},
      bm_make_photo = #{record.bmMakePhoto,jdbcType=VARCHAR},
      bm_byzd = #{record.bmByzd,jdbcType=VARCHAR},
      bm_back_type = #{record.bmBackType,jdbcType=VARCHAR},
      bm_user_name = #{record.bmUserName,jdbcType=VARCHAR},
      bm_back_bl = #{record.bmBackBl,jdbcType=VARCHAR},
      bm_back_account = #{record.bmBackAccount,jdbcType=VARCHAR},
      bm_back_account_number = #{record.bmBackAccountNumber,jdbcType=VARCHAR},
      bm_dingdan_type = #{record.bmDingdanType,jdbcType=VARCHAR},
      bm_shop_id = #{record.bmShopId,jdbcType=INTEGER},
      bm_timeId = #{record.bmTimeid,jdbcType=BIGINT},
      bm_make_time_end = #{record.bmMakeTimeEnd,jdbcType=TIMESTAMP},
      bm_create_time_end = #{record.bmCreateTimeEnd,jdbcType=TIMESTAMP},
      bm_sh_photo = #{record.bmShPhoto,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luoshi.pojo.TbBackmoney" >
    update tb_backmoney
    <set >
      <if test="bmDeptId != null" >
        bm_dept_id = #{bmDeptId,jdbcType=INTEGER},
      </if>
      <if test="bmGroupId != null" >
        bm_group_id = #{bmGroupId,jdbcType=INTEGER},
      </if>
      <if test="bmUserId != null" >
        bm_user_id = #{bmUserId,jdbcType=INTEGER},
      </if>
      <if test="bmShopName != null" >
        bm_shop_name = #{bmShopName,jdbcType=VARCHAR},
      </if>
      <if test="bmGoodsId != null" >
        bm_goods_id = #{bmGoodsId,jdbcType=INTEGER},
      </if>
      <if test="bmYhqName != null" >
        bm_yhq_name = #{bmYhqName,jdbcType=VARCHAR},
      </if>
      <if test="bmOnlineTime != null" >
        bm_online_time = #{bmOnlineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bmOfflineTime != null" >
        bm_offline_time = #{bmOfflineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bmType != null" >
        bm_type = #{bmType,jdbcType=VARCHAR},
      </if>
      <if test="bmMakeMoney != null" >
        bm_make_money = #{bmMakeMoney,jdbcType=DOUBLE},
      </if>
      <if test="bmBackMoney != null" >
        bm_back_money = #{bmBackMoney,jdbcType=DOUBLE},
      </if>
      <if test="bmSurplus != null" >
        bm_surplus = #{bmSurplus,jdbcType=DOUBLE},
      </if>
      <if test="bmMakeAccount != null" >
        bm_make_account = #{bmMakeAccount,jdbcType=VARCHAR},
      </if>
      <if test="bmMakeTime != null" >
        bm_make_time = #{bmMakeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bmCreateTime != null" >
        bm_create_time = #{bmCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bmText != null" >
        bm_text = #{bmText,jdbcType=VARCHAR},
      </if>
      <if test="bmYhqPhoto != null" >
        bm_yhq_photo = #{bmYhqPhoto,jdbcType=VARCHAR},
      </if>
      <if test="bmConfirmType != null" >
        bm_confirm_type = #{bmConfirmType,jdbcType=VARCHAR},
      </if>
      <if test="bmMakePhoto != null" >
        bm_make_photo = #{bmMakePhoto,jdbcType=VARCHAR},
      </if>
      <if test="bmByzd != null" >
        bm_byzd = #{bmByzd,jdbcType=VARCHAR},
      </if>
      <if test="bmBackType != null" >
        bm_back_type = #{bmBackType,jdbcType=VARCHAR},
      </if>
      <if test="bmUserName != null" >
        bm_user_name = #{bmUserName,jdbcType=VARCHAR},
      </if>
      <if test="bmBackBl != null" >
        bm_back_bl = #{bmBackBl,jdbcType=VARCHAR},
      </if>
      <if test="bmBackAccount != null" >
        bm_back_account = #{bmBackAccount,jdbcType=VARCHAR},
      </if>
      <if test="bmBackAccountNumber != null" >
        bm_back_account_number = #{bmBackAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="bmDingdanType != null" >
        bm_dingdan_type = #{bmDingdanType,jdbcType=VARCHAR},
      </if>
      <if test="bmShopId != null" >
        bm_shop_id = #{bmShopId,jdbcType=INTEGER},
      </if>
      <if test="bmTimeid != null" >
        bm_timeId = #{bmTimeid,jdbcType=BIGINT},
      </if>
      <if test="bmMakeTimeEnd != null" >
        bm_make_time_end = #{bmMakeTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="bmCreateTimeEnd != null" >
        bm_create_time_end = #{bmCreateTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="bmShPhoto != null" >
        bm_sh_photo = #{bmShPhoto,jdbcType=VARCHAR},
      </if>
    </set>
    where bm_id = #{bmId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luoshi.pojo.TbBackmoney" >
    update tb_backmoney
    set bm_dept_id = #{bmDeptId,jdbcType=INTEGER},
      bm_group_id = #{bmGroupId,jdbcType=INTEGER},
      bm_user_id = #{bmUserId,jdbcType=INTEGER},
      bm_shop_name = #{bmShopName,jdbcType=VARCHAR},
      bm_goods_id = #{bmGoodsId,jdbcType=INTEGER},
      bm_yhq_name = #{bmYhqName,jdbcType=VARCHAR},
      bm_online_time = #{bmOnlineTime,jdbcType=TIMESTAMP},
      bm_offline_time = #{bmOfflineTime,jdbcType=TIMESTAMP},
      bm_type = #{bmType,jdbcType=VARCHAR},
      bm_make_money = #{bmMakeMoney,jdbcType=DOUBLE},
      bm_back_money = #{bmBackMoney,jdbcType=DOUBLE},
      bm_surplus = #{bmSurplus,jdbcType=DOUBLE},
      bm_make_account = #{bmMakeAccount,jdbcType=VARCHAR},
      bm_make_time = #{bmMakeTime,jdbcType=TIMESTAMP},
      bm_create_time = #{bmCreateTime,jdbcType=TIMESTAMP},
      bm_text = #{bmText,jdbcType=VARCHAR},
      bm_yhq_photo = #{bmYhqPhoto,jdbcType=VARCHAR},
      bm_confirm_type = #{bmConfirmType,jdbcType=VARCHAR},
      bm_make_photo = #{bmMakePhoto,jdbcType=VARCHAR},
      bm_byzd = #{bmByzd,jdbcType=VARCHAR},
      bm_back_type = #{bmBackType,jdbcType=VARCHAR},
      bm_user_name = #{bmUserName,jdbcType=VARCHAR},
      bm_back_bl = #{bmBackBl,jdbcType=VARCHAR},
      bm_back_account = #{bmBackAccount,jdbcType=VARCHAR},
      bm_back_account_number = #{bmBackAccountNumber,jdbcType=VARCHAR},
      bm_dingdan_type = #{bmDingdanType,jdbcType=VARCHAR},
      bm_shop_id = #{bmShopId,jdbcType=INTEGER},
      bm_timeId = #{bmTimeid,jdbcType=BIGINT},
      bm_make_time_end = #{bmMakeTimeEnd,jdbcType=TIMESTAMP},
      bm_create_time_end = #{bmCreateTimeEnd,jdbcType=TIMESTAMP},
      bm_sh_photo = #{bmShPhoto,jdbcType=VARCHAR}
    where bm_id = #{bmId,jdbcType=INTEGER}
  </update>
</mapper>