<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luoshi.mapper.TbCheckmoneysMapper" >
  <resultMap id="BaseResultMap" type="com.luoshi.pojo.TbCheckmoneys" >
    <id column="cm_id" property="cmId" jdbcType="INTEGER" />
    <result column="cm_dept_id" property="cmDeptId" jdbcType="INTEGER" />
    <result column="cm_group_id" property="cmGroupId" jdbcType="INTEGER" />
    <result column="cm_user_id" property="cmUserId" jdbcType="INTEGER" />
    <result column="cm_shop_name" property="cmShopName" jdbcType="VARCHAR" />
    <result column="cm_shop_type" property="cmShopType" jdbcType="VARCHAR" />
    <result column="cm_js_money" property="cmJsMoney" jdbcType="DOUBLE" />
    <result column="cm_fk_money" property="cmFkMoney" jdbcType="DOUBLE" />
    <result column="cm_sy_money" property="cmSyMoney" jdbcType="DOUBLE" />
    <result column="cm_js_nums" property="cmJsNums" jdbcType="INTEGER" />
    <result column="cm_fw_price" property="cmFwPrice" jdbcType="DOUBLE" />
    <result column="cm_yhq_photo" property="cmYhqPhoto" jdbcType="VARCHAR" />
    <result column="cm_load_customer" property="cmLoadCustomer" jdbcType="VARCHAR" />
    <result column="cm_apply_time" property="cmApplyTime" jdbcType="TIMESTAMP" />
    <result column="cm_type" property="cmType" jdbcType="VARCHAR" />
    <result column="cm_yhq_name" property="cmYhqName" jdbcType="VARCHAR" />
    <result column="cm_back_time" property="cmBackTime" jdbcType="TIMESTAMP" />
    <result column="cm_text" property="cmText" jdbcType="VARCHAR" />
    <result column="cm_fc_money" property="cmFcMoney" jdbcType="DOUBLE" />
    <result column="cm_yhq_type" property="cmYhqType" jdbcType="VARCHAR" />
    <result column="cm_shop_id" property="cmShopId" jdbcType="INTEGER" />
    <result column="cm_dk_phote" property="cmDkPhote" jdbcType="VARCHAR" />
    <result column="cm_beiyong" property="cmBeiyong" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cm_id, cm_dept_id, cm_group_id, cm_user_id, cm_shop_name, cm_shop_type, cm_js_money, 
    cm_fk_money, cm_sy_money, cm_js_nums, cm_fw_price, cm_yhq_photo, cm_load_customer, 
    cm_apply_time, cm_type, cm_yhq_name, cm_back_time, cm_text, cm_fc_money, cm_yhq_type, 
    cm_shop_id, cm_dk_phote, cm_beiyong
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luoshi.pojo.TbCheckmoneysExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_checkmoneys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_checkmoneys
    where cm_id = #{cmId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_checkmoneys
    where cm_id = #{cmId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luoshi.pojo.TbCheckmoneysExample" >
    delete from tb_checkmoneys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luoshi.pojo.TbCheckmoneys" >
    insert into tb_checkmoneys (cm_id, cm_dept_id, cm_group_id, 
      cm_user_id, cm_shop_name, cm_shop_type, 
      cm_js_money, cm_fk_money, cm_sy_money, 
      cm_js_nums, cm_fw_price, cm_yhq_photo, 
      cm_load_customer, cm_apply_time, cm_type, 
      cm_yhq_name, cm_back_time, cm_text, 
      cm_fc_money, cm_yhq_type, cm_shop_id, 
      cm_dk_phote, cm_beiyong)
    values (#{cmId,jdbcType=INTEGER}, #{cmDeptId,jdbcType=INTEGER}, #{cmGroupId,jdbcType=INTEGER}, 
      #{cmUserId,jdbcType=INTEGER}, #{cmShopName,jdbcType=VARCHAR}, #{cmShopType,jdbcType=VARCHAR}, 
      #{cmJsMoney,jdbcType=DOUBLE}, #{cmFkMoney,jdbcType=DOUBLE}, #{cmSyMoney,jdbcType=DOUBLE}, 
      #{cmJsNums,jdbcType=INTEGER}, #{cmFwPrice,jdbcType=DOUBLE}, #{cmYhqPhoto,jdbcType=VARCHAR}, 
      #{cmLoadCustomer,jdbcType=VARCHAR}, #{cmApplyTime,jdbcType=TIMESTAMP}, #{cmType,jdbcType=VARCHAR}, 
      #{cmYhqName,jdbcType=VARCHAR}, #{cmBackTime,jdbcType=TIMESTAMP}, #{cmText,jdbcType=VARCHAR}, 
      #{cmFcMoney,jdbcType=DOUBLE}, #{cmYhqType,jdbcType=VARCHAR}, #{cmShopId,jdbcType=INTEGER}, 
      #{cmDkPhote,jdbcType=VARCHAR}, #{cmBeiyong,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luoshi.pojo.TbCheckmoneys" >
    insert into tb_checkmoneys
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cmId != null" >
        cm_id,
      </if>
      <if test="cmDeptId != null" >
        cm_dept_id,
      </if>
      <if test="cmGroupId != null" >
        cm_group_id,
      </if>
      <if test="cmUserId != null" >
        cm_user_id,
      </if>
      <if test="cmShopName != null" >
        cm_shop_name,
      </if>
      <if test="cmShopType != null" >
        cm_shop_type,
      </if>
      <if test="cmJsMoney != null" >
        cm_js_money,
      </if>
      <if test="cmFkMoney != null" >
        cm_fk_money,
      </if>
      <if test="cmSyMoney != null" >
        cm_sy_money,
      </if>
      <if test="cmJsNums != null" >
        cm_js_nums,
      </if>
      <if test="cmFwPrice != null" >
        cm_fw_price,
      </if>
      <if test="cmYhqPhoto != null" >
        cm_yhq_photo,
      </if>
      <if test="cmLoadCustomer != null" >
        cm_load_customer,
      </if>
      <if test="cmApplyTime != null" >
        cm_apply_time,
      </if>
      <if test="cmType != null" >
        cm_type,
      </if>
      <if test="cmYhqName != null" >
        cm_yhq_name,
      </if>
      <if test="cmBackTime != null" >
        cm_back_time,
      </if>
      <if test="cmText != null" >
        cm_text,
      </if>
      <if test="cmFcMoney != null" >
        cm_fc_money,
      </if>
      <if test="cmYhqType != null" >
        cm_yhq_type,
      </if>
      <if test="cmShopId != null" >
        cm_shop_id,
      </if>
      <if test="cmDkPhote != null" >
        cm_dk_phote,
      </if>
      <if test="cmBeiyong != null" >
        cm_beiyong,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cmId != null" >
        #{cmId,jdbcType=INTEGER},
      </if>
      <if test="cmDeptId != null" >
        #{cmDeptId,jdbcType=INTEGER},
      </if>
      <if test="cmGroupId != null" >
        #{cmGroupId,jdbcType=INTEGER},
      </if>
      <if test="cmUserId != null" >
        #{cmUserId,jdbcType=INTEGER},
      </if>
      <if test="cmShopName != null" >
        #{cmShopName,jdbcType=VARCHAR},
      </if>
      <if test="cmShopType != null" >
        #{cmShopType,jdbcType=VARCHAR},
      </if>
      <if test="cmJsMoney != null" >
        #{cmJsMoney,jdbcType=DOUBLE},
      </if>
      <if test="cmFkMoney != null" >
        #{cmFkMoney,jdbcType=DOUBLE},
      </if>
      <if test="cmSyMoney != null" >
        #{cmSyMoney,jdbcType=DOUBLE},
      </if>
      <if test="cmJsNums != null" >
        #{cmJsNums,jdbcType=INTEGER},
      </if>
      <if test="cmFwPrice != null" >
        #{cmFwPrice,jdbcType=DOUBLE},
      </if>
      <if test="cmYhqPhoto != null" >
        #{cmYhqPhoto,jdbcType=VARCHAR},
      </if>
      <if test="cmLoadCustomer != null" >
        #{cmLoadCustomer,jdbcType=VARCHAR},
      </if>
      <if test="cmApplyTime != null" >
        #{cmApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cmType != null" >
        #{cmType,jdbcType=VARCHAR},
      </if>
      <if test="cmYhqName != null" >
        #{cmYhqName,jdbcType=VARCHAR},
      </if>
      <if test="cmBackTime != null" >
        #{cmBackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cmText != null" >
        #{cmText,jdbcType=VARCHAR},
      </if>
      <if test="cmFcMoney != null" >
        #{cmFcMoney,jdbcType=DOUBLE},
      </if>
      <if test="cmYhqType != null" >
        #{cmYhqType,jdbcType=VARCHAR},
      </if>
      <if test="cmShopId != null" >
        #{cmShopId,jdbcType=INTEGER},
      </if>
      <if test="cmDkPhote != null" >
        #{cmDkPhote,jdbcType=VARCHAR},
      </if>
      <if test="cmBeiyong != null" >
        #{cmBeiyong,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luoshi.pojo.TbCheckmoneysExample" resultType="java.lang.Integer" >
    select count(*) from tb_checkmoneys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_checkmoneys
    <set >
      <if test="record.cmId != null" >
        cm_id = #{record.cmId,jdbcType=INTEGER},
      </if>
      <if test="record.cmDeptId != null" >
        cm_dept_id = #{record.cmDeptId,jdbcType=INTEGER},
      </if>
      <if test="record.cmGroupId != null" >
        cm_group_id = #{record.cmGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.cmUserId != null" >
        cm_user_id = #{record.cmUserId,jdbcType=INTEGER},
      </if>
      <if test="record.cmShopName != null" >
        cm_shop_name = #{record.cmShopName,jdbcType=VARCHAR},
      </if>
      <if test="record.cmShopType != null" >
        cm_shop_type = #{record.cmShopType,jdbcType=VARCHAR},
      </if>
      <if test="record.cmJsMoney != null" >
        cm_js_money = #{record.cmJsMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.cmFkMoney != null" >
        cm_fk_money = #{record.cmFkMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.cmSyMoney != null" >
        cm_sy_money = #{record.cmSyMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.cmJsNums != null" >
        cm_js_nums = #{record.cmJsNums,jdbcType=INTEGER},
      </if>
      <if test="record.cmFwPrice != null" >
        cm_fw_price = #{record.cmFwPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.cmYhqPhoto != null" >
        cm_yhq_photo = #{record.cmYhqPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.cmLoadCustomer != null" >
        cm_load_customer = #{record.cmLoadCustomer,jdbcType=VARCHAR},
      </if>
      <if test="record.cmApplyTime != null" >
        cm_apply_time = #{record.cmApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cmType != null" >
        cm_type = #{record.cmType,jdbcType=VARCHAR},
      </if>
      <if test="record.cmYhqName != null" >
        cm_yhq_name = #{record.cmYhqName,jdbcType=VARCHAR},
      </if>
      <if test="record.cmBackTime != null" >
        cm_back_time = #{record.cmBackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cmText != null" >
        cm_text = #{record.cmText,jdbcType=VARCHAR},
      </if>
      <if test="record.cmFcMoney != null" >
        cm_fc_money = #{record.cmFcMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.cmYhqType != null" >
        cm_yhq_type = #{record.cmYhqType,jdbcType=VARCHAR},
      </if>
      <if test="record.cmShopId != null" >
        cm_shop_id = #{record.cmShopId,jdbcType=INTEGER},
      </if>
      <if test="record.cmDkPhote != null" >
        cm_dk_phote = #{record.cmDkPhote,jdbcType=VARCHAR},
      </if>
      <if test="record.cmBeiyong != null" >
        cm_beiyong = #{record.cmBeiyong,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_checkmoneys
    set cm_id = #{record.cmId,jdbcType=INTEGER},
      cm_dept_id = #{record.cmDeptId,jdbcType=INTEGER},
      cm_group_id = #{record.cmGroupId,jdbcType=INTEGER},
      cm_user_id = #{record.cmUserId,jdbcType=INTEGER},
      cm_shop_name = #{record.cmShopName,jdbcType=VARCHAR},
      cm_shop_type = #{record.cmShopType,jdbcType=VARCHAR},
      cm_js_money = #{record.cmJsMoney,jdbcType=DOUBLE},
      cm_fk_money = #{record.cmFkMoney,jdbcType=DOUBLE},
      cm_sy_money = #{record.cmSyMoney,jdbcType=DOUBLE},
      cm_js_nums = #{record.cmJsNums,jdbcType=INTEGER},
      cm_fw_price = #{record.cmFwPrice,jdbcType=DOUBLE},
      cm_yhq_photo = #{record.cmYhqPhoto,jdbcType=VARCHAR},
      cm_load_customer = #{record.cmLoadCustomer,jdbcType=VARCHAR},
      cm_apply_time = #{record.cmApplyTime,jdbcType=TIMESTAMP},
      cm_type = #{record.cmType,jdbcType=VARCHAR},
      cm_yhq_name = #{record.cmYhqName,jdbcType=VARCHAR},
      cm_back_time = #{record.cmBackTime,jdbcType=TIMESTAMP},
      cm_text = #{record.cmText,jdbcType=VARCHAR},
      cm_fc_money = #{record.cmFcMoney,jdbcType=DOUBLE},
      cm_yhq_type = #{record.cmYhqType,jdbcType=VARCHAR},
      cm_shop_id = #{record.cmShopId,jdbcType=INTEGER},
      cm_dk_phote = #{record.cmDkPhote,jdbcType=VARCHAR},
      cm_beiyong = #{record.cmBeiyong,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luoshi.pojo.TbCheckmoneys" >
    update tb_checkmoneys
    <set >
      <if test="cmDeptId != null" >
        cm_dept_id = #{cmDeptId,jdbcType=INTEGER},
      </if>
      <if test="cmGroupId != null" >
        cm_group_id = #{cmGroupId,jdbcType=INTEGER},
      </if>
      <if test="cmUserId != null" >
        cm_user_id = #{cmUserId,jdbcType=INTEGER},
      </if>
      <if test="cmShopName != null" >
        cm_shop_name = #{cmShopName,jdbcType=VARCHAR},
      </if>
      <if test="cmShopType != null" >
        cm_shop_type = #{cmShopType,jdbcType=VARCHAR},
      </if>
      <if test="cmJsMoney != null" >
        cm_js_money = #{cmJsMoney,jdbcType=DOUBLE},
      </if>
      <if test="cmFkMoney != null" >
        cm_fk_money = #{cmFkMoney,jdbcType=DOUBLE},
      </if>
      <if test="cmSyMoney != null" >
        cm_sy_money = #{cmSyMoney,jdbcType=DOUBLE},
      </if>
      <if test="cmJsNums != null" >
        cm_js_nums = #{cmJsNums,jdbcType=INTEGER},
      </if>
      <if test="cmFwPrice != null" >
        cm_fw_price = #{cmFwPrice,jdbcType=DOUBLE},
      </if>
      <if test="cmYhqPhoto != null" >
        cm_yhq_photo = #{cmYhqPhoto,jdbcType=VARCHAR},
      </if>
      <if test="cmLoadCustomer != null" >
        cm_load_customer = #{cmLoadCustomer,jdbcType=VARCHAR},
      </if>
      <if test="cmApplyTime != null" >
        cm_apply_time = #{cmApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cmType != null" >
        cm_type = #{cmType,jdbcType=VARCHAR},
      </if>
      <if test="cmYhqName != null" >
        cm_yhq_name = #{cmYhqName,jdbcType=VARCHAR},
      </if>
      <if test="cmBackTime != null" >
        cm_back_time = #{cmBackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cmText != null" >
        cm_text = #{cmText,jdbcType=VARCHAR},
      </if>
      <if test="cmFcMoney != null" >
        cm_fc_money = #{cmFcMoney,jdbcType=DOUBLE},
      </if>
      <if test="cmYhqType != null" >
        cm_yhq_type = #{cmYhqType,jdbcType=VARCHAR},
      </if>
      <if test="cmShopId != null" >
        cm_shop_id = #{cmShopId,jdbcType=INTEGER},
      </if>
      <if test="cmDkPhote != null" >
        cm_dk_phote = #{cmDkPhote,jdbcType=VARCHAR},
      </if>
      <if test="cmBeiyong != null" >
        cm_beiyong = #{cmBeiyong,jdbcType=VARCHAR},
      </if>
    </set>
    where cm_id = #{cmId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luoshi.pojo.TbCheckmoneys" >
    update tb_checkmoneys
    set cm_dept_id = #{cmDeptId,jdbcType=INTEGER},
      cm_group_id = #{cmGroupId,jdbcType=INTEGER},
      cm_user_id = #{cmUserId,jdbcType=INTEGER},
      cm_shop_name = #{cmShopName,jdbcType=VARCHAR},
      cm_shop_type = #{cmShopType,jdbcType=VARCHAR},
      cm_js_money = #{cmJsMoney,jdbcType=DOUBLE},
      cm_fk_money = #{cmFkMoney,jdbcType=DOUBLE},
      cm_sy_money = #{cmSyMoney,jdbcType=DOUBLE},
      cm_js_nums = #{cmJsNums,jdbcType=INTEGER},
      cm_fw_price = #{cmFwPrice,jdbcType=DOUBLE},
      cm_yhq_photo = #{cmYhqPhoto,jdbcType=VARCHAR},
      cm_load_customer = #{cmLoadCustomer,jdbcType=VARCHAR},
      cm_apply_time = #{cmApplyTime,jdbcType=TIMESTAMP},
      cm_type = #{cmType,jdbcType=VARCHAR},
      cm_yhq_name = #{cmYhqName,jdbcType=VARCHAR},
      cm_back_time = #{cmBackTime,jdbcType=TIMESTAMP},
      cm_text = #{cmText,jdbcType=VARCHAR},
      cm_fc_money = #{cmFcMoney,jdbcType=DOUBLE},
      cm_yhq_type = #{cmYhqType,jdbcType=VARCHAR},
      cm_shop_id = #{cmShopId,jdbcType=INTEGER},
      cm_dk_phote = #{cmDkPhote,jdbcType=VARCHAR},
      cm_beiyong = #{cmBeiyong,jdbcType=VARCHAR}
    where cm_id = #{cmId,jdbcType=INTEGER}
  </update>
</mapper>