<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luoshi.mapper.TbCoopMapper" >
  <resultMap id="BaseResultMap" type="com.luoshi.pojo.TbCoop" >
    <id column="coop_id" property="coopId" jdbcType="INTEGER" />
    <result column="coop_type" property="coopType" jdbcType="VARCHAR" />
    <result column="coop_ptType" property="coopPttype" jdbcType="VARCHAR" />
    <result column="coop_xdwType" property="coopXdwtype" jdbcType="VARCHAR" />
    <result column="coop_customer" property="coopCustomer" jdbcType="VARCHAR" />
    <result column="coop_mainPicture" property="coopMainpicture" jdbcType="VARCHAR" />
    <result column="coop_activity" property="coopActivity" jdbcType="VARCHAR" />
    <result column="coop_goods_Id" property="coopGoodsId" jdbcType="BIGINT" />
    <result column="coop_zero" property="coopZero" jdbcType="VARCHAR" />
    <result column="coop_alterPrice" property="coopAlterprice" jdbcType="DOUBLE" />
    <result column="coop_yhqNums" property="coopYhqnums" jdbcType="INTEGER" />
    <result column="coop_yjScale" property="coopYjscale" jdbcType="VARCHAR" />
    <result column="coop_tbTime" property="coopTbtime" jdbcType="TIMESTAMP" />
    <result column="coop_startTime" property="coopStarttime" jdbcType="TIMESTAMP" />
    <result column="coop_endTime" property="coopEndtime" jdbcType="TIMESTAMP" />
    <result column="coop_back" property="coopBack" jdbcType="DOUBLE" />
    <result column="coop_dept_id" property="coopDeptId" jdbcType="INTEGER" />
    <result column="coop_group_id" property="coopGroupId" jdbcType="INTEGER" />
    <result column="coop_user_id" property="coopUserId" jdbcType="INTEGER" />
    <result column="coop_yhq_name" property="coopYhqName" jdbcType="VARCHAR" />
    <result column="coop_boss_name" property="coopBossName" jdbcType="VARCHAR" />
    <result column="coop_message" property="coopMessage" jdbcType="VARCHAR" />
    <result column="coop_shop" property="coopShop" jdbcType="VARCHAR" />
    <result column="coop_tbMessage" property="coopTbmessage" jdbcType="VARCHAR" />
    <result column="coop_shop_fl" property="coopShopFl" jdbcType="INTEGER" />
    <result column="coop_picture" property="coopPicture" jdbcType="VARCHAR" />
    <result column="coop_promotion" property="coopPromotion" jdbcType="VARCHAR" />
    <result column="coop_coupon" property="coopCoupon" jdbcType="VARCHAR" />
    <result column="coop_color" property="coopColor" jdbcType="VARCHAR" />
    <result column="coop_service_fee" property="coopServiceFee" jdbcType="DOUBLE" />
    <result column="coop_per_time" property="coopPerTime" jdbcType="TIMESTAMP" />
    <result column="coop_coupon_num" property="coopCouponNum" jdbcType="DOUBLE" />
    <result column="coop_tapbao_price" property="coopTapbaoPrice" jdbcType="DOUBLE" />
    <result column="coop_pay_num" property="coopPayNum" jdbcType="INTEGER" />
    <result column="coop_Head_id" property="coopHeadId" jdbcType="BIGINT" />
    <result column="coop_real_shot" property="coopRealShot" jdbcType="VARCHAR" />
    <result column="coop_boss_id" property="coopBossId" jdbcType="INTEGER" />
    <result column="coop_check_money" property="coopCheckMoney" jdbcType="VARCHAR" />
    <result column="coop_pay_type" property="coopPayType" jdbcType="VARCHAR" />
    <result column="coop_goods_title" property="coopGoodsTitle" jdbcType="VARCHAR" />
    <result column="coop_beiyong" property="coopBeiyong" jdbcType="VARCHAR" />
    <result column="coop_shenhe_id" property="coopShenheId" jdbcType="INTEGER" />
    <result column="coop_shenhe_time" property="coopShenheTime" jdbcType="TIMESTAMP" />
    <result column="coop_tbType" property="coopTbtype" jdbcType="VARCHAR" />
    <result column="coop_shenhe_bz" property="coopShenheBz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    coop_id, coop_type, coop_ptType, coop_xdwType, coop_customer, coop_mainPicture, coop_activity, 
    coop_goods_Id, coop_zero, coop_alterPrice, coop_yhqNums, coop_yjScale, coop_tbTime, 
    coop_startTime, coop_endTime, coop_back, coop_dept_id, coop_group_id, coop_user_id, 
    coop_yhq_name, coop_boss_name, coop_message, coop_shop, coop_tbMessage, coop_shop_fl, 
    coop_picture, coop_promotion, coop_coupon, coop_color, coop_service_fee, coop_per_time, 
    coop_coupon_num, coop_tapbao_price, coop_pay_num, coop_Head_id, coop_real_shot, coop_boss_id, 
    coop_check_money, coop_pay_type, coop_goods_title, coop_beiyong, coop_shenhe_id, 
    coop_shenhe_time, coop_tbType, coop_shenhe_bz
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luoshi.pojo.TbCoopExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_coop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_coop
    where coop_id = #{coopId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_coop
    where coop_id = #{coopId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luoshi.pojo.TbCoopExample" >
    delete from tb_coop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luoshi.pojo.TbCoop" >
    insert into tb_coop (coop_id, coop_type, coop_ptType, 
      coop_xdwType, coop_customer, coop_mainPicture, 
      coop_activity, coop_goods_Id, coop_zero, 
      coop_alterPrice, coop_yhqNums, coop_yjScale, 
      coop_tbTime, coop_startTime, coop_endTime, 
      coop_back, coop_dept_id, coop_group_id, 
      coop_user_id, coop_yhq_name, coop_boss_name, 
      coop_message, coop_shop, coop_tbMessage, 
      coop_shop_fl, coop_picture, coop_promotion, 
      coop_coupon, coop_color, coop_service_fee, 
      coop_per_time, coop_coupon_num, coop_tapbao_price, 
      coop_pay_num, coop_Head_id, coop_real_shot, 
      coop_boss_id, coop_check_money, coop_pay_type, 
      coop_goods_title, coop_beiyong, coop_shenhe_id, 
      coop_shenhe_time, coop_tbType, coop_shenhe_bz
      )
    values (#{coopId,jdbcType=INTEGER}, #{coopType,jdbcType=VARCHAR}, #{coopPttype,jdbcType=VARCHAR}, 
      #{coopXdwtype,jdbcType=VARCHAR}, #{coopCustomer,jdbcType=VARCHAR}, #{coopMainpicture,jdbcType=VARCHAR}, 
      #{coopActivity,jdbcType=VARCHAR}, #{coopGoodsId,jdbcType=BIGINT}, #{coopZero,jdbcType=VARCHAR}, 
      #{coopAlterprice,jdbcType=DOUBLE}, #{coopYhqnums,jdbcType=INTEGER}, #{coopYjscale,jdbcType=VARCHAR}, 
      #{coopTbtime,jdbcType=TIMESTAMP}, #{coopStarttime,jdbcType=TIMESTAMP}, #{coopEndtime,jdbcType=TIMESTAMP}, 
      #{coopBack,jdbcType=DOUBLE}, #{coopDeptId,jdbcType=INTEGER}, #{coopGroupId,jdbcType=INTEGER}, 
      #{coopUserId,jdbcType=INTEGER}, #{coopYhqName,jdbcType=VARCHAR}, #{coopBossName,jdbcType=VARCHAR}, 
      #{coopMessage,jdbcType=VARCHAR}, #{coopShop,jdbcType=VARCHAR}, #{coopTbmessage,jdbcType=VARCHAR}, 
      #{coopShopFl,jdbcType=INTEGER}, #{coopPicture,jdbcType=VARCHAR}, #{coopPromotion,jdbcType=VARCHAR}, 
      #{coopCoupon,jdbcType=VARCHAR}, #{coopColor,jdbcType=VARCHAR}, #{coopServiceFee,jdbcType=DOUBLE}, 
      #{coopPerTime,jdbcType=TIMESTAMP}, #{coopCouponNum,jdbcType=DOUBLE}, #{coopTapbaoPrice,jdbcType=DOUBLE}, 
      #{coopPayNum,jdbcType=INTEGER}, #{coopHeadId,jdbcType=BIGINT}, #{coopRealShot,jdbcType=VARCHAR}, 
      #{coopBossId,jdbcType=INTEGER}, #{coopCheckMoney,jdbcType=VARCHAR}, #{coopPayType,jdbcType=VARCHAR}, 
      #{coopGoodsTitle,jdbcType=VARCHAR}, #{coopBeiyong,jdbcType=VARCHAR}, #{coopShenheId,jdbcType=INTEGER}, 
      #{coopShenheTime,jdbcType=TIMESTAMP}, #{coopTbtype,jdbcType=VARCHAR}, #{coopShenheBz,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luoshi.pojo.TbCoop" >
    insert into tb_coop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="coopId != null" >
        coop_id,
      </if>
      <if test="coopType != null" >
        coop_type,
      </if>
      <if test="coopPttype != null" >
        coop_ptType,
      </if>
      <if test="coopXdwtype != null" >
        coop_xdwType,
      </if>
      <if test="coopCustomer != null" >
        coop_customer,
      </if>
      <if test="coopMainpicture != null" >
        coop_mainPicture,
      </if>
      <if test="coopActivity != null" >
        coop_activity,
      </if>
      <if test="coopGoodsId != null" >
        coop_goods_Id,
      </if>
      <if test="coopZero != null" >
        coop_zero,
      </if>
      <if test="coopAlterprice != null" >
        coop_alterPrice,
      </if>
      <if test="coopYhqnums != null" >
        coop_yhqNums,
      </if>
      <if test="coopYjscale != null" >
        coop_yjScale,
      </if>
      <if test="coopTbtime != null" >
        coop_tbTime,
      </if>
      <if test="coopStarttime != null" >
        coop_startTime,
      </if>
      <if test="coopEndtime != null" >
        coop_endTime,
      </if>
      <if test="coopBack != null" >
        coop_back,
      </if>
      <if test="coopDeptId != null" >
        coop_dept_id,
      </if>
      <if test="coopGroupId != null" >
        coop_group_id,
      </if>
      <if test="coopUserId != null" >
        coop_user_id,
      </if>
      <if test="coopYhqName != null" >
        coop_yhq_name,
      </if>
      <if test="coopBossName != null" >
        coop_boss_name,
      </if>
      <if test="coopMessage != null" >
        coop_message,
      </if>
      <if test="coopShop != null" >
        coop_shop,
      </if>
      <if test="coopTbmessage != null" >
        coop_tbMessage,
      </if>
      <if test="coopShopFl != null" >
        coop_shop_fl,
      </if>
      <if test="coopPicture != null" >
        coop_picture,
      </if>
      <if test="coopPromotion != null" >
        coop_promotion,
      </if>
      <if test="coopCoupon != null" >
        coop_coupon,
      </if>
      <if test="coopColor != null" >
        coop_color,
      </if>
      <if test="coopServiceFee != null" >
        coop_service_fee,
      </if>
      <if test="coopPerTime != null" >
        coop_per_time,
      </if>
      <if test="coopCouponNum != null" >
        coop_coupon_num,
      </if>
      <if test="coopTapbaoPrice != null" >
        coop_tapbao_price,
      </if>
      <if test="coopPayNum != null" >
        coop_pay_num,
      </if>
      <if test="coopHeadId != null" >
        coop_Head_id,
      </if>
      <if test="coopRealShot != null" >
        coop_real_shot,
      </if>
      <if test="coopBossId != null" >
        coop_boss_id,
      </if>
      <if test="coopCheckMoney != null" >
        coop_check_money,
      </if>
      <if test="coopPayType != null" >
        coop_pay_type,
      </if>
      <if test="coopGoodsTitle != null" >
        coop_goods_title,
      </if>
      <if test="coopBeiyong != null" >
        coop_beiyong,
      </if>
      <if test="coopShenheId != null" >
        coop_shenhe_id,
      </if>
      <if test="coopShenheTime != null" >
        coop_shenhe_time,
      </if>
      <if test="coopTbtype != null" >
        coop_tbType,
      </if>
      <if test="coopShenheBz != null" >
        coop_shenhe_bz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="coopId != null" >
        #{coopId,jdbcType=INTEGER},
      </if>
      <if test="coopType != null" >
        #{coopType,jdbcType=VARCHAR},
      </if>
      <if test="coopPttype != null" >
        #{coopPttype,jdbcType=VARCHAR},
      </if>
      <if test="coopXdwtype != null" >
        #{coopXdwtype,jdbcType=VARCHAR},
      </if>
      <if test="coopCustomer != null" >
        #{coopCustomer,jdbcType=VARCHAR},
      </if>
      <if test="coopMainpicture != null" >
        #{coopMainpicture,jdbcType=VARCHAR},
      </if>
      <if test="coopActivity != null" >
        #{coopActivity,jdbcType=VARCHAR},
      </if>
      <if test="coopGoodsId != null" >
        #{coopGoodsId,jdbcType=BIGINT},
      </if>
      <if test="coopZero != null" >
        #{coopZero,jdbcType=VARCHAR},
      </if>
      <if test="coopAlterprice != null" >
        #{coopAlterprice,jdbcType=DOUBLE},
      </if>
      <if test="coopYhqnums != null" >
        #{coopYhqnums,jdbcType=INTEGER},
      </if>
      <if test="coopYjscale != null" >
        #{coopYjscale,jdbcType=VARCHAR},
      </if>
      <if test="coopTbtime != null" >
        #{coopTbtime,jdbcType=TIMESTAMP},
      </if>
      <if test="coopStarttime != null" >
        #{coopStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="coopEndtime != null" >
        #{coopEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="coopBack != null" >
        #{coopBack,jdbcType=DOUBLE},
      </if>
      <if test="coopDeptId != null" >
        #{coopDeptId,jdbcType=INTEGER},
      </if>
      <if test="coopGroupId != null" >
        #{coopGroupId,jdbcType=INTEGER},
      </if>
      <if test="coopUserId != null" >
        #{coopUserId,jdbcType=INTEGER},
      </if>
      <if test="coopYhqName != null" >
        #{coopYhqName,jdbcType=VARCHAR},
      </if>
      <if test="coopBossName != null" >
        #{coopBossName,jdbcType=VARCHAR},
      </if>
      <if test="coopMessage != null" >
        #{coopMessage,jdbcType=VARCHAR},
      </if>
      <if test="coopShop != null" >
        #{coopShop,jdbcType=VARCHAR},
      </if>
      <if test="coopTbmessage != null" >
        #{coopTbmessage,jdbcType=VARCHAR},
      </if>
      <if test="coopShopFl != null" >
        #{coopShopFl,jdbcType=INTEGER},
      </if>
      <if test="coopPicture != null" >
        #{coopPicture,jdbcType=VARCHAR},
      </if>
      <if test="coopPromotion != null" >
        #{coopPromotion,jdbcType=VARCHAR},
      </if>
      <if test="coopCoupon != null" >
        #{coopCoupon,jdbcType=VARCHAR},
      </if>
      <if test="coopColor != null" >
        #{coopColor,jdbcType=VARCHAR},
      </if>
      <if test="coopServiceFee != null" >
        #{coopServiceFee,jdbcType=DOUBLE},
      </if>
      <if test="coopPerTime != null" >
        #{coopPerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="coopCouponNum != null" >
        #{coopCouponNum,jdbcType=DOUBLE},
      </if>
      <if test="coopTapbaoPrice != null" >
        #{coopTapbaoPrice,jdbcType=DOUBLE},
      </if>
      <if test="coopPayNum != null" >
        #{coopPayNum,jdbcType=INTEGER},
      </if>
      <if test="coopHeadId != null" >
        #{coopHeadId,jdbcType=BIGINT},
      </if>
      <if test="coopRealShot != null" >
        #{coopRealShot,jdbcType=VARCHAR},
      </if>
      <if test="coopBossId != null" >
        #{coopBossId,jdbcType=INTEGER},
      </if>
      <if test="coopCheckMoney != null" >
        #{coopCheckMoney,jdbcType=VARCHAR},
      </if>
      <if test="coopPayType != null" >
        #{coopPayType,jdbcType=VARCHAR},
      </if>
      <if test="coopGoodsTitle != null" >
        #{coopGoodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="coopBeiyong != null" >
        #{coopBeiyong,jdbcType=VARCHAR},
      </if>
      <if test="coopShenheId != null" >
        #{coopShenheId,jdbcType=INTEGER},
      </if>
      <if test="coopShenheTime != null" >
        #{coopShenheTime,jdbcType=TIMESTAMP},
      </if>
      <if test="coopTbtype != null" >
        #{coopTbtype,jdbcType=VARCHAR},
      </if>
      <if test="coopShenheBz != null" >
        #{coopShenheBz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luoshi.pojo.TbCoopExample" resultType="java.lang.Integer" >
    select count(*) from tb_coop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_coop
    <set >
      <if test="record.coopId != null" >
        coop_id = #{record.coopId,jdbcType=INTEGER},
      </if>
      <if test="record.coopType != null" >
        coop_type = #{record.coopType,jdbcType=VARCHAR},
      </if>
      <if test="record.coopPttype != null" >
        coop_ptType = #{record.coopPttype,jdbcType=VARCHAR},
      </if>
      <if test="record.coopXdwtype != null" >
        coop_xdwType = #{record.coopXdwtype,jdbcType=VARCHAR},
      </if>
      <if test="record.coopCustomer != null" >
        coop_customer = #{record.coopCustomer,jdbcType=VARCHAR},
      </if>
      <if test="record.coopMainpicture != null" >
        coop_mainPicture = #{record.coopMainpicture,jdbcType=VARCHAR},
      </if>
      <if test="record.coopActivity != null" >
        coop_activity = #{record.coopActivity,jdbcType=VARCHAR},
      </if>
      <if test="record.coopGoodsId != null" >
        coop_goods_Id = #{record.coopGoodsId,jdbcType=BIGINT},
      </if>
      <if test="record.coopZero != null" >
        coop_zero = #{record.coopZero,jdbcType=VARCHAR},
      </if>
      <if test="record.coopAlterprice != null" >
        coop_alterPrice = #{record.coopAlterprice,jdbcType=DOUBLE},
      </if>
      <if test="record.coopYhqnums != null" >
        coop_yhqNums = #{record.coopYhqnums,jdbcType=INTEGER},
      </if>
      <if test="record.coopYjscale != null" >
        coop_yjScale = #{record.coopYjscale,jdbcType=VARCHAR},
      </if>
      <if test="record.coopTbtime != null" >
        coop_tbTime = #{record.coopTbtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.coopStarttime != null" >
        coop_startTime = #{record.coopStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.coopEndtime != null" >
        coop_endTime = #{record.coopEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.coopBack != null" >
        coop_back = #{record.coopBack,jdbcType=DOUBLE},
      </if>
      <if test="record.coopDeptId != null" >
        coop_dept_id = #{record.coopDeptId,jdbcType=INTEGER},
      </if>
      <if test="record.coopGroupId != null" >
        coop_group_id = #{record.coopGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.coopUserId != null" >
        coop_user_id = #{record.coopUserId,jdbcType=INTEGER},
      </if>
      <if test="record.coopYhqName != null" >
        coop_yhq_name = #{record.coopYhqName,jdbcType=VARCHAR},
      </if>
      <if test="record.coopBossName != null" >
        coop_boss_name = #{record.coopBossName,jdbcType=VARCHAR},
      </if>
      <if test="record.coopMessage != null" >
        coop_message = #{record.coopMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.coopShop != null" >
        coop_shop = #{record.coopShop,jdbcType=VARCHAR},
      </if>
      <if test="record.coopTbmessage != null" >
        coop_tbMessage = #{record.coopTbmessage,jdbcType=VARCHAR},
      </if>
      <if test="record.coopShopFl != null" >
        coop_shop_fl = #{record.coopShopFl,jdbcType=INTEGER},
      </if>
      <if test="record.coopPicture != null" >
        coop_picture = #{record.coopPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.coopPromotion != null" >
        coop_promotion = #{record.coopPromotion,jdbcType=VARCHAR},
      </if>
      <if test="record.coopCoupon != null" >
        coop_coupon = #{record.coopCoupon,jdbcType=VARCHAR},
      </if>
      <if test="record.coopColor != null" >
        coop_color = #{record.coopColor,jdbcType=VARCHAR},
      </if>
      <if test="record.coopServiceFee != null" >
        coop_service_fee = #{record.coopServiceFee,jdbcType=DOUBLE},
      </if>
      <if test="record.coopPerTime != null" >
        coop_per_time = #{record.coopPerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.coopCouponNum != null" >
        coop_coupon_num = #{record.coopCouponNum,jdbcType=DOUBLE},
      </if>
      <if test="record.coopTapbaoPrice != null" >
        coop_tapbao_price = #{record.coopTapbaoPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.coopPayNum != null" >
        coop_pay_num = #{record.coopPayNum,jdbcType=INTEGER},
      </if>
      <if test="record.coopHeadId != null" >
        coop_Head_id = #{record.coopHeadId,jdbcType=BIGINT},
      </if>
      <if test="record.coopRealShot != null" >
        coop_real_shot = #{record.coopRealShot,jdbcType=VARCHAR},
      </if>
      <if test="record.coopBossId != null" >
        coop_boss_id = #{record.coopBossId,jdbcType=INTEGER},
      </if>
      <if test="record.coopCheckMoney != null" >
        coop_check_money = #{record.coopCheckMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.coopPayType != null" >
        coop_pay_type = #{record.coopPayType,jdbcType=VARCHAR},
      </if>
      <if test="record.coopGoodsTitle != null" >
        coop_goods_title = #{record.coopGoodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.coopBeiyong != null" >
        coop_beiyong = #{record.coopBeiyong,jdbcType=VARCHAR},
      </if>
      <if test="record.coopShenheId != null" >
        coop_shenhe_id = #{record.coopShenheId,jdbcType=INTEGER},
      </if>
      <if test="record.coopShenheTime != null" >
        coop_shenhe_time = #{record.coopShenheTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.coopTbtype != null" >
        coop_tbType = #{record.coopTbtype,jdbcType=VARCHAR},
      </if>
      <if test="record.coopShenheBz != null" >
        coop_shenhe_bz = #{record.coopShenheBz,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_coop
    set coop_id = #{record.coopId,jdbcType=INTEGER},
      coop_type = #{record.coopType,jdbcType=VARCHAR},
      coop_ptType = #{record.coopPttype,jdbcType=VARCHAR},
      coop_xdwType = #{record.coopXdwtype,jdbcType=VARCHAR},
      coop_customer = #{record.coopCustomer,jdbcType=VARCHAR},
      coop_mainPicture = #{record.coopMainpicture,jdbcType=VARCHAR},
      coop_activity = #{record.coopActivity,jdbcType=VARCHAR},
      coop_goods_Id = #{record.coopGoodsId,jdbcType=BIGINT},
      coop_zero = #{record.coopZero,jdbcType=VARCHAR},
      coop_alterPrice = #{record.coopAlterprice,jdbcType=DOUBLE},
      coop_yhqNums = #{record.coopYhqnums,jdbcType=INTEGER},
      coop_yjScale = #{record.coopYjscale,jdbcType=VARCHAR},
      coop_tbTime = #{record.coopTbtime,jdbcType=TIMESTAMP},
      coop_startTime = #{record.coopStarttime,jdbcType=TIMESTAMP},
      coop_endTime = #{record.coopEndtime,jdbcType=TIMESTAMP},
      coop_back = #{record.coopBack,jdbcType=DOUBLE},
      coop_dept_id = #{record.coopDeptId,jdbcType=INTEGER},
      coop_group_id = #{record.coopGroupId,jdbcType=INTEGER},
      coop_user_id = #{record.coopUserId,jdbcType=INTEGER},
      coop_yhq_name = #{record.coopYhqName,jdbcType=VARCHAR},
      coop_boss_name = #{record.coopBossName,jdbcType=VARCHAR},
      coop_message = #{record.coopMessage,jdbcType=VARCHAR},
      coop_shop = #{record.coopShop,jdbcType=VARCHAR},
      coop_tbMessage = #{record.coopTbmessage,jdbcType=VARCHAR},
      coop_shop_fl = #{record.coopShopFl,jdbcType=INTEGER},
      coop_picture = #{record.coopPicture,jdbcType=VARCHAR},
      coop_promotion = #{record.coopPromotion,jdbcType=VARCHAR},
      coop_coupon = #{record.coopCoupon,jdbcType=VARCHAR},
      coop_color = #{record.coopColor,jdbcType=VARCHAR},
      coop_service_fee = #{record.coopServiceFee,jdbcType=DOUBLE},
      coop_per_time = #{record.coopPerTime,jdbcType=TIMESTAMP},
      coop_coupon_num = #{record.coopCouponNum,jdbcType=DOUBLE},
      coop_tapbao_price = #{record.coopTapbaoPrice,jdbcType=DOUBLE},
      coop_pay_num = #{record.coopPayNum,jdbcType=INTEGER},
      coop_Head_id = #{record.coopHeadId,jdbcType=BIGINT},
      coop_real_shot = #{record.coopRealShot,jdbcType=VARCHAR},
      coop_boss_id = #{record.coopBossId,jdbcType=INTEGER},
      coop_check_money = #{record.coopCheckMoney,jdbcType=VARCHAR},
      coop_pay_type = #{record.coopPayType,jdbcType=VARCHAR},
      coop_goods_title = #{record.coopGoodsTitle,jdbcType=VARCHAR},
      coop_beiyong = #{record.coopBeiyong,jdbcType=VARCHAR},
      coop_shenhe_id = #{record.coopShenheId,jdbcType=INTEGER},
      coop_shenhe_time = #{record.coopShenheTime,jdbcType=TIMESTAMP},
      coop_tbType = #{record.coopTbtype,jdbcType=VARCHAR},
      coop_shenhe_bz = #{record.coopShenheBz,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luoshi.pojo.TbCoop" >
    update tb_coop
    <set >
      <if test="coopType != null" >
        coop_type = #{coopType,jdbcType=VARCHAR},
      </if>
      <if test="coopPttype != null" >
        coop_ptType = #{coopPttype,jdbcType=VARCHAR},
      </if>
      <if test="coopXdwtype != null" >
        coop_xdwType = #{coopXdwtype,jdbcType=VARCHAR},
      </if>
      <if test="coopCustomer != null" >
        coop_customer = #{coopCustomer,jdbcType=VARCHAR},
      </if>
      <if test="coopMainpicture != null" >
        coop_mainPicture = #{coopMainpicture,jdbcType=VARCHAR},
      </if>
      <if test="coopActivity != null" >
        coop_activity = #{coopActivity,jdbcType=VARCHAR},
      </if>
      <if test="coopGoodsId != null" >
        coop_goods_Id = #{coopGoodsId,jdbcType=BIGINT},
      </if>
      <if test="coopZero != null" >
        coop_zero = #{coopZero,jdbcType=VARCHAR},
      </if>
      <if test="coopAlterprice != null" >
        coop_alterPrice = #{coopAlterprice,jdbcType=DOUBLE},
      </if>
      <if test="coopYhqnums != null" >
        coop_yhqNums = #{coopYhqnums,jdbcType=INTEGER},
      </if>
      <if test="coopYjscale != null" >
        coop_yjScale = #{coopYjscale,jdbcType=VARCHAR},
      </if>
      <if test="coopTbtime != null" >
        coop_tbTime = #{coopTbtime,jdbcType=TIMESTAMP},
      </if>
      <if test="coopStarttime != null" >
        coop_startTime = #{coopStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="coopEndtime != null" >
        coop_endTime = #{coopEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="coopBack != null" >
        coop_back = #{coopBack,jdbcType=DOUBLE},
      </if>
      <if test="coopDeptId != null" >
        coop_dept_id = #{coopDeptId,jdbcType=INTEGER},
      </if>
      <if test="coopGroupId != null" >
        coop_group_id = #{coopGroupId,jdbcType=INTEGER},
      </if>
      <if test="coopUserId != null" >
        coop_user_id = #{coopUserId,jdbcType=INTEGER},
      </if>
      <if test="coopYhqName != null" >
        coop_yhq_name = #{coopYhqName,jdbcType=VARCHAR},
      </if>
      <if test="coopBossName != null" >
        coop_boss_name = #{coopBossName,jdbcType=VARCHAR},
      </if>
      <if test="coopMessage != null" >
        coop_message = #{coopMessage,jdbcType=VARCHAR},
      </if>
      <if test="coopShop != null" >
        coop_shop = #{coopShop,jdbcType=VARCHAR},
      </if>
      <if test="coopTbmessage != null" >
        coop_tbMessage = #{coopTbmessage,jdbcType=VARCHAR},
      </if>
      <if test="coopShopFl != null" >
        coop_shop_fl = #{coopShopFl,jdbcType=INTEGER},
      </if>
      <if test="coopPicture != null" >
        coop_picture = #{coopPicture,jdbcType=VARCHAR},
      </if>
      <if test="coopPromotion != null" >
        coop_promotion = #{coopPromotion,jdbcType=VARCHAR},
      </if>
      <if test="coopCoupon != null" >
        coop_coupon = #{coopCoupon,jdbcType=VARCHAR},
      </if>
      <if test="coopColor != null" >
        coop_color = #{coopColor,jdbcType=VARCHAR},
      </if>
      <if test="coopServiceFee != null" >
        coop_service_fee = #{coopServiceFee,jdbcType=DOUBLE},
      </if>
      <if test="coopPerTime != null" >
        coop_per_time = #{coopPerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="coopCouponNum != null" >
        coop_coupon_num = #{coopCouponNum,jdbcType=DOUBLE},
      </if>
      <if test="coopTapbaoPrice != null" >
        coop_tapbao_price = #{coopTapbaoPrice,jdbcType=DOUBLE},
      </if>
      <if test="coopPayNum != null" >
        coop_pay_num = #{coopPayNum,jdbcType=INTEGER},
      </if>
      <if test="coopHeadId != null" >
        coop_Head_id = #{coopHeadId,jdbcType=BIGINT},
      </if>
      <if test="coopRealShot != null" >
        coop_real_shot = #{coopRealShot,jdbcType=VARCHAR},
      </if>
      <if test="coopBossId != null" >
        coop_boss_id = #{coopBossId,jdbcType=INTEGER},
      </if>
      <if test="coopCheckMoney != null" >
        coop_check_money = #{coopCheckMoney,jdbcType=VARCHAR},
      </if>
      <if test="coopPayType != null" >
        coop_pay_type = #{coopPayType,jdbcType=VARCHAR},
      </if>
      <if test="coopGoodsTitle != null" >
        coop_goods_title = #{coopGoodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="coopBeiyong != null" >
        coop_beiyong = #{coopBeiyong,jdbcType=VARCHAR},
      </if>
      <if test="coopShenheId != null" >
        coop_shenhe_id = #{coopShenheId,jdbcType=INTEGER},
      </if>
      <if test="coopShenheTime != null" >
        coop_shenhe_time = #{coopShenheTime,jdbcType=TIMESTAMP},
      </if>
      <if test="coopTbtype != null" >
        coop_tbType = #{coopTbtype,jdbcType=VARCHAR},
      </if>
      <if test="coopShenheBz != null" >
        coop_shenhe_bz = #{coopShenheBz,jdbcType=VARCHAR},
      </if>
    </set>
    where coop_id = #{coopId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luoshi.pojo.TbCoop" >
    update tb_coop
    set coop_type = #{coopType,jdbcType=VARCHAR},
      coop_ptType = #{coopPttype,jdbcType=VARCHAR},
      coop_xdwType = #{coopXdwtype,jdbcType=VARCHAR},
      coop_customer = #{coopCustomer,jdbcType=VARCHAR},
      coop_mainPicture = #{coopMainpicture,jdbcType=VARCHAR},
      coop_activity = #{coopActivity,jdbcType=VARCHAR},
      coop_goods_Id = #{coopGoodsId,jdbcType=BIGINT},
      coop_zero = #{coopZero,jdbcType=VARCHAR},
      coop_alterPrice = #{coopAlterprice,jdbcType=DOUBLE},
      coop_yhqNums = #{coopYhqnums,jdbcType=INTEGER},
      coop_yjScale = #{coopYjscale,jdbcType=VARCHAR},
      coop_tbTime = #{coopTbtime,jdbcType=TIMESTAMP},
      coop_startTime = #{coopStarttime,jdbcType=TIMESTAMP},
      coop_endTime = #{coopEndtime,jdbcType=TIMESTAMP},
      coop_back = #{coopBack,jdbcType=DOUBLE},
      coop_dept_id = #{coopDeptId,jdbcType=INTEGER},
      coop_group_id = #{coopGroupId,jdbcType=INTEGER},
      coop_user_id = #{coopUserId,jdbcType=INTEGER},
      coop_yhq_name = #{coopYhqName,jdbcType=VARCHAR},
      coop_boss_name = #{coopBossName,jdbcType=VARCHAR},
      coop_message = #{coopMessage,jdbcType=VARCHAR},
      coop_shop = #{coopShop,jdbcType=VARCHAR},
      coop_tbMessage = #{coopTbmessage,jdbcType=VARCHAR},
      coop_shop_fl = #{coopShopFl,jdbcType=INTEGER},
      coop_picture = #{coopPicture,jdbcType=VARCHAR},
      coop_promotion = #{coopPromotion,jdbcType=VARCHAR},
      coop_coupon = #{coopCoupon,jdbcType=VARCHAR},
      coop_color = #{coopColor,jdbcType=VARCHAR},
      coop_service_fee = #{coopServiceFee,jdbcType=DOUBLE},
      coop_per_time = #{coopPerTime,jdbcType=TIMESTAMP},
      coop_coupon_num = #{coopCouponNum,jdbcType=DOUBLE},
      coop_tapbao_price = #{coopTapbaoPrice,jdbcType=DOUBLE},
      coop_pay_num = #{coopPayNum,jdbcType=INTEGER},
      coop_Head_id = #{coopHeadId,jdbcType=BIGINT},
      coop_real_shot = #{coopRealShot,jdbcType=VARCHAR},
      coop_boss_id = #{coopBossId,jdbcType=INTEGER},
      coop_check_money = #{coopCheckMoney,jdbcType=VARCHAR},
      coop_pay_type = #{coopPayType,jdbcType=VARCHAR},
      coop_goods_title = #{coopGoodsTitle,jdbcType=VARCHAR},
      coop_beiyong = #{coopBeiyong,jdbcType=VARCHAR},
      coop_shenhe_id = #{coopShenheId,jdbcType=INTEGER},
      coop_shenhe_time = #{coopShenheTime,jdbcType=TIMESTAMP},
      coop_tbType = #{coopTbtype,jdbcType=VARCHAR},
      coop_shenhe_bz = #{coopShenheBz,jdbcType=VARCHAR}
    where coop_id = #{coopId,jdbcType=INTEGER}
  </update>
</mapper>