<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luoshi.mapper.TbShopMapper" >
  <resultMap id="BaseResultMap" type="com.luoshi.pojo.TbShop" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="wangwangaccount" property="wangwangaccount" jdbcType="VARCHAR" />
    <result column="shop_product" property="shopProduct" jdbcType="VARCHAR" />
    <result column="shop_use_id" property="shopUseId" jdbcType="INTEGER" />
    <result column="shop_boss" property="shopBoss" jdbcType="VARCHAR" />
    <result column="shop_phone" property="shopPhone" jdbcType="VARCHAR" />
    <result column="shop_dept_id" property="shopDeptId" jdbcType="INTEGER" />
    <result column="shop_user_id2" property="shopUserId2" jdbcType="INTEGER" />
    <result column="shop_qq" property="shopQq" jdbcType="VARCHAR" />
    <result column="shop_wx" property="shopWx" jdbcType="VARCHAR" />
    <result column="shop_operate_phone" property="shopOperatePhone" jdbcType="VARCHAR" />
    <result column="shop_url" property="shopUrl" jdbcType="VARCHAR" />
    <result column="maturity" property="maturity" jdbcType="VARCHAR" />
    <result column="shop_type" property="shopType" jdbcType="VARCHAR" />
    <result column="main_operate" property="mainOperate" jdbcType="VARCHAR" />
    <result column="shop_tbType" property="shopTbtype" jdbcType="VARCHAR" />
    <result column="shop_jsType" property="shopJstype" jdbcType="VARCHAR" />
    <result column="shop_Real_shooting" property="shopRealShooting" jdbcType="VARCHAR" />
    <result column="operate_phone" property="operatePhone" jdbcType="VARCHAR" />
    <result column="next_time" property="nextTime" jdbcType="TIMESTAMP" />
    <result column="follow_up_record" property="followUpRecord" jdbcType="VARCHAR" />
    <result column="refunds_time" property="refundsTime" jdbcType="VARCHAR" />
    <result column="refunds_money" property="refundsMoney" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="VARCHAR" />
    <result column="operator_user_id" property="operatorUserId" jdbcType="INTEGER" />
    <result column="Extension" property="extension" jdbcType="INTEGER" />
    <result column="taoke_type" property="taokeType" jdbcType="VARCHAR" />
    <result column="cooperation" property="cooperation" jdbcType="VARCHAR" />
    <result column="cooperation_num" property="cooperationNum" jdbcType="INTEGER" />
    <result column="entry_num" property="entryNum" jdbcType="INTEGER" />
    <result column="Spare" property="spare" jdbcType="VARCHAR" />
    <result column="private_type" property="privateType" jdbcType="VARCHAR" />
    <result column="private_user_id" property="privateUserId" jdbcType="INTEGER" />
    <result column="shop_bz" property="shopBz" jdbcType="VARCHAR" />
    <result column="shop_group_id" property="shopGroupId" jdbcType="INTEGER" />
    <result column="shop_user_name" property="shopUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, shop_name, wangwangaccount, shop_product, shop_use_id, shop_boss, shop_phone, 
    shop_dept_id, shop_user_id2, shop_qq, shop_wx, shop_operate_phone, shop_url, maturity, 
    shop_type, main_operate, shop_tbType, shop_jsType, shop_Real_shooting, operate_phone, 
    next_time, follow_up_record, refunds_time, refunds_money, create_time, data_type, 
    operator_user_id, Extension, taoke_type, cooperation, cooperation_num, entry_num, 
    Spare, private_type, private_user_id, shop_bz, shop_group_id, shop_user_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luoshi.pojo.TbShopExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_shop
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_shop
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luoshi.pojo.TbShopExample" >
    delete from tb_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luoshi.pojo.TbShop" >
    insert into tb_shop (id, shop_name, wangwangaccount, 
      shop_product, shop_use_id, shop_boss, 
      shop_phone, shop_dept_id, shop_user_id2, 
      shop_qq, shop_wx, shop_operate_phone, 
      shop_url, maturity, shop_type, 
      main_operate, shop_tbType, shop_jsType, 
      shop_Real_shooting, operate_phone, next_time, 
      follow_up_record, refunds_time, refunds_money, 
      create_time, data_type, operator_user_id, 
      Extension, taoke_type, cooperation, 
      cooperation_num, entry_num, Spare, 
      private_type, private_user_id, shop_bz, 
      shop_group_id, shop_user_name)
    values (#{id,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{wangwangaccount,jdbcType=VARCHAR}, 
      #{shopProduct,jdbcType=VARCHAR}, #{shopUseId,jdbcType=INTEGER}, #{shopBoss,jdbcType=VARCHAR}, 
      #{shopPhone,jdbcType=VARCHAR}, #{shopDeptId,jdbcType=INTEGER}, #{shopUserId2,jdbcType=INTEGER}, 
      #{shopQq,jdbcType=VARCHAR}, #{shopWx,jdbcType=VARCHAR}, #{shopOperatePhone,jdbcType=VARCHAR}, 
      #{shopUrl,jdbcType=VARCHAR}, #{maturity,jdbcType=VARCHAR}, #{shopType,jdbcType=VARCHAR}, 
      #{mainOperate,jdbcType=VARCHAR}, #{shopTbtype,jdbcType=VARCHAR}, #{shopJstype,jdbcType=VARCHAR}, 
      #{shopRealShooting,jdbcType=VARCHAR}, #{operatePhone,jdbcType=VARCHAR}, #{nextTime,jdbcType=TIMESTAMP}, 
      #{followUpRecord,jdbcType=VARCHAR}, #{refundsTime,jdbcType=VARCHAR}, #{refundsMoney,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, #{operatorUserId,jdbcType=INTEGER}, 
      #{extension,jdbcType=INTEGER}, #{taokeType,jdbcType=VARCHAR}, #{cooperation,jdbcType=VARCHAR}, 
      #{cooperationNum,jdbcType=INTEGER}, #{entryNum,jdbcType=INTEGER}, #{spare,jdbcType=VARCHAR}, 
      #{privateType,jdbcType=VARCHAR}, #{privateUserId,jdbcType=INTEGER}, #{shopBz,jdbcType=VARCHAR}, 
      #{shopGroupId,jdbcType=INTEGER}, #{shopUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luoshi.pojo.TbShop" >
    insert into tb_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="wangwangaccount != null" >
        wangwangaccount,
      </if>
      <if test="shopProduct != null" >
        shop_product,
      </if>
      <if test="shopUseId != null" >
        shop_use_id,
      </if>
      <if test="shopBoss != null" >
        shop_boss,
      </if>
      <if test="shopPhone != null" >
        shop_phone,
      </if>
      <if test="shopDeptId != null" >
        shop_dept_id,
      </if>
      <if test="shopUserId2 != null" >
        shop_user_id2,
      </if>
      <if test="shopQq != null" >
        shop_qq,
      </if>
      <if test="shopWx != null" >
        shop_wx,
      </if>
      <if test="shopOperatePhone != null" >
        shop_operate_phone,
      </if>
      <if test="shopUrl != null" >
        shop_url,
      </if>
      <if test="maturity != null" >
        maturity,
      </if>
      <if test="shopType != null" >
        shop_type,
      </if>
      <if test="mainOperate != null" >
        main_operate,
      </if>
      <if test="shopTbtype != null" >
        shop_tbType,
      </if>
      <if test="shopJstype != null" >
        shop_jsType,
      </if>
      <if test="shopRealShooting != null" >
        shop_Real_shooting,
      </if>
      <if test="operatePhone != null" >
        operate_phone,
      </if>
      <if test="nextTime != null" >
        next_time,
      </if>
      <if test="followUpRecord != null" >
        follow_up_record,
      </if>
      <if test="refundsTime != null" >
        refunds_time,
      </if>
      <if test="refundsMoney != null" >
        refunds_money,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="operatorUserId != null" >
        operator_user_id,
      </if>
      <if test="extension != null" >
        Extension,
      </if>
      <if test="taokeType != null" >
        taoke_type,
      </if>
      <if test="cooperation != null" >
        cooperation,
      </if>
      <if test="cooperationNum != null" >
        cooperation_num,
      </if>
      <if test="entryNum != null" >
        entry_num,
      </if>
      <if test="spare != null" >
        Spare,
      </if>
      <if test="privateType != null" >
        private_type,
      </if>
      <if test="privateUserId != null" >
        private_user_id,
      </if>
      <if test="shopBz != null" >
        shop_bz,
      </if>
      <if test="shopGroupId != null" >
        shop_group_id,
      </if>
      <if test="shopUserName != null" >
        shop_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="wangwangaccount != null" >
        #{wangwangaccount,jdbcType=VARCHAR},
      </if>
      <if test="shopProduct != null" >
        #{shopProduct,jdbcType=VARCHAR},
      </if>
      <if test="shopUseId != null" >
        #{shopUseId,jdbcType=INTEGER},
      </if>
      <if test="shopBoss != null" >
        #{shopBoss,jdbcType=VARCHAR},
      </if>
      <if test="shopPhone != null" >
        #{shopPhone,jdbcType=VARCHAR},
      </if>
      <if test="shopDeptId != null" >
        #{shopDeptId,jdbcType=INTEGER},
      </if>
      <if test="shopUserId2 != null" >
        #{shopUserId2,jdbcType=INTEGER},
      </if>
      <if test="shopQq != null" >
        #{shopQq,jdbcType=VARCHAR},
      </if>
      <if test="shopWx != null" >
        #{shopWx,jdbcType=VARCHAR},
      </if>
      <if test="shopOperatePhone != null" >
        #{shopOperatePhone,jdbcType=VARCHAR},
      </if>
      <if test="shopUrl != null" >
        #{shopUrl,jdbcType=VARCHAR},
      </if>
      <if test="maturity != null" >
        #{maturity,jdbcType=VARCHAR},
      </if>
      <if test="shopType != null" >
        #{shopType,jdbcType=VARCHAR},
      </if>
      <if test="mainOperate != null" >
        #{mainOperate,jdbcType=VARCHAR},
      </if>
      <if test="shopTbtype != null" >
        #{shopTbtype,jdbcType=VARCHAR},
      </if>
      <if test="shopJstype != null" >
        #{shopJstype,jdbcType=VARCHAR},
      </if>
      <if test="shopRealShooting != null" >
        #{shopRealShooting,jdbcType=VARCHAR},
      </if>
      <if test="operatePhone != null" >
        #{operatePhone,jdbcType=VARCHAR},
      </if>
      <if test="nextTime != null" >
        #{nextTime,jdbcType=TIMESTAMP},
      </if>
      <if test="followUpRecord != null" >
        #{followUpRecord,jdbcType=VARCHAR},
      </if>
      <if test="refundsTime != null" >
        #{refundsTime,jdbcType=VARCHAR},
      </if>
      <if test="refundsMoney != null" >
        #{refundsMoney,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="operatorUserId != null" >
        #{operatorUserId,jdbcType=INTEGER},
      </if>
      <if test="extension != null" >
        #{extension,jdbcType=INTEGER},
      </if>
      <if test="taokeType != null" >
        #{taokeType,jdbcType=VARCHAR},
      </if>
      <if test="cooperation != null" >
        #{cooperation,jdbcType=VARCHAR},
      </if>
      <if test="cooperationNum != null" >
        #{cooperationNum,jdbcType=INTEGER},
      </if>
      <if test="entryNum != null" >
        #{entryNum,jdbcType=INTEGER},
      </if>
      <if test="spare != null" >
        #{spare,jdbcType=VARCHAR},
      </if>
      <if test="privateType != null" >
        #{privateType,jdbcType=VARCHAR},
      </if>
      <if test="privateUserId != null" >
        #{privateUserId,jdbcType=INTEGER},
      </if>
      <if test="shopBz != null" >
        #{shopBz,jdbcType=VARCHAR},
      </if>
      <if test="shopGroupId != null" >
        #{shopGroupId,jdbcType=INTEGER},
      </if>
      <if test="shopUserName != null" >
        #{shopUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luoshi.pojo.TbShopExample" resultType="java.lang.Integer" >
    select count(*) from tb_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_shop
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shopName != null" >
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.wangwangaccount != null" >
        wangwangaccount = #{record.wangwangaccount,jdbcType=VARCHAR},
      </if>
      <if test="record.shopProduct != null" >
        shop_product = #{record.shopProduct,jdbcType=VARCHAR},
      </if>
      <if test="record.shopUseId != null" >
        shop_use_id = #{record.shopUseId,jdbcType=INTEGER},
      </if>
      <if test="record.shopBoss != null" >
        shop_boss = #{record.shopBoss,jdbcType=VARCHAR},
      </if>
      <if test="record.shopPhone != null" >
        shop_phone = #{record.shopPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.shopDeptId != null" >
        shop_dept_id = #{record.shopDeptId,jdbcType=INTEGER},
      </if>
      <if test="record.shopUserId2 != null" >
        shop_user_id2 = #{record.shopUserId2,jdbcType=INTEGER},
      </if>
      <if test="record.shopQq != null" >
        shop_qq = #{record.shopQq,jdbcType=VARCHAR},
      </if>
      <if test="record.shopWx != null" >
        shop_wx = #{record.shopWx,jdbcType=VARCHAR},
      </if>
      <if test="record.shopOperatePhone != null" >
        shop_operate_phone = #{record.shopOperatePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.shopUrl != null" >
        shop_url = #{record.shopUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.maturity != null" >
        maturity = #{record.maturity,jdbcType=VARCHAR},
      </if>
      <if test="record.shopType != null" >
        shop_type = #{record.shopType,jdbcType=VARCHAR},
      </if>
      <if test="record.mainOperate != null" >
        main_operate = #{record.mainOperate,jdbcType=VARCHAR},
      </if>
      <if test="record.shopTbtype != null" >
        shop_tbType = #{record.shopTbtype,jdbcType=VARCHAR},
      </if>
      <if test="record.shopJstype != null" >
        shop_jsType = #{record.shopJstype,jdbcType=VARCHAR},
      </if>
      <if test="record.shopRealShooting != null" >
        shop_Real_shooting = #{record.shopRealShooting,jdbcType=VARCHAR},
      </if>
      <if test="record.operatePhone != null" >
        operate_phone = #{record.operatePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.nextTime != null" >
        next_time = #{record.nextTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.followUpRecord != null" >
        follow_up_record = #{record.followUpRecord,jdbcType=VARCHAR},
      </if>
      <if test="record.refundsTime != null" >
        refunds_time = #{record.refundsTime,jdbcType=VARCHAR},
      </if>
      <if test="record.refundsMoney != null" >
        refunds_money = #{record.refundsMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.dataType != null" >
        data_type = #{record.dataType,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorUserId != null" >
        operator_user_id = #{record.operatorUserId,jdbcType=INTEGER},
      </if>
      <if test="record.extension != null" >
        Extension = #{record.extension,jdbcType=INTEGER},
      </if>
      <if test="record.taokeType != null" >
        taoke_type = #{record.taokeType,jdbcType=VARCHAR},
      </if>
      <if test="record.cooperation != null" >
        cooperation = #{record.cooperation,jdbcType=VARCHAR},
      </if>
      <if test="record.cooperationNum != null" >
        cooperation_num = #{record.cooperationNum,jdbcType=INTEGER},
      </if>
      <if test="record.entryNum != null" >
        entry_num = #{record.entryNum,jdbcType=INTEGER},
      </if>
      <if test="record.spare != null" >
        Spare = #{record.spare,jdbcType=VARCHAR},
      </if>
      <if test="record.privateType != null" >
        private_type = #{record.privateType,jdbcType=VARCHAR},
      </if>
      <if test="record.privateUserId != null" >
        private_user_id = #{record.privateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.shopBz != null" >
        shop_bz = #{record.shopBz,jdbcType=VARCHAR},
      </if>
      <if test="record.shopGroupId != null" >
        shop_group_id = #{record.shopGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.shopUserName != null" >
        shop_user_name = #{record.shopUserName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_shop
    set id = #{record.id,jdbcType=INTEGER},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      wangwangaccount = #{record.wangwangaccount,jdbcType=VARCHAR},
      shop_product = #{record.shopProduct,jdbcType=VARCHAR},
      shop_use_id = #{record.shopUseId,jdbcType=INTEGER},
      shop_boss = #{record.shopBoss,jdbcType=VARCHAR},
      shop_phone = #{record.shopPhone,jdbcType=VARCHAR},
      shop_dept_id = #{record.shopDeptId,jdbcType=INTEGER},
      shop_user_id2 = #{record.shopUserId2,jdbcType=INTEGER},
      shop_qq = #{record.shopQq,jdbcType=VARCHAR},
      shop_wx = #{record.shopWx,jdbcType=VARCHAR},
      shop_operate_phone = #{record.shopOperatePhone,jdbcType=VARCHAR},
      shop_url = #{record.shopUrl,jdbcType=VARCHAR},
      maturity = #{record.maturity,jdbcType=VARCHAR},
      shop_type = #{record.shopType,jdbcType=VARCHAR},
      main_operate = #{record.mainOperate,jdbcType=VARCHAR},
      shop_tbType = #{record.shopTbtype,jdbcType=VARCHAR},
      shop_jsType = #{record.shopJstype,jdbcType=VARCHAR},
      shop_Real_shooting = #{record.shopRealShooting,jdbcType=VARCHAR},
      operate_phone = #{record.operatePhone,jdbcType=VARCHAR},
      next_time = #{record.nextTime,jdbcType=TIMESTAMP},
      follow_up_record = #{record.followUpRecord,jdbcType=VARCHAR},
      refunds_time = #{record.refundsTime,jdbcType=VARCHAR},
      refunds_money = #{record.refundsMoney,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      data_type = #{record.dataType,jdbcType=VARCHAR},
      operator_user_id = #{record.operatorUserId,jdbcType=INTEGER},
      Extension = #{record.extension,jdbcType=INTEGER},
      taoke_type = #{record.taokeType,jdbcType=VARCHAR},
      cooperation = #{record.cooperation,jdbcType=VARCHAR},
      cooperation_num = #{record.cooperationNum,jdbcType=INTEGER},
      entry_num = #{record.entryNum,jdbcType=INTEGER},
      Spare = #{record.spare,jdbcType=VARCHAR},
      private_type = #{record.privateType,jdbcType=VARCHAR},
      private_user_id = #{record.privateUserId,jdbcType=INTEGER},
      shop_bz = #{record.shopBz,jdbcType=VARCHAR},
      shop_group_id = #{record.shopGroupId,jdbcType=INTEGER},
      shop_user_name = #{record.shopUserName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luoshi.pojo.TbShop" >
    update tb_shop
    <set >
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="wangwangaccount != null" >
        wangwangaccount = #{wangwangaccount,jdbcType=VARCHAR},
      </if>
      <if test="shopProduct != null" >
        shop_product = #{shopProduct,jdbcType=VARCHAR},
      </if>
      <if test="shopUseId != null" >
        shop_use_id = #{shopUseId,jdbcType=INTEGER},
      </if>
      <if test="shopBoss != null" >
        shop_boss = #{shopBoss,jdbcType=VARCHAR},
      </if>
      <if test="shopPhone != null" >
        shop_phone = #{shopPhone,jdbcType=VARCHAR},
      </if>
      <if test="shopDeptId != null" >
        shop_dept_id = #{shopDeptId,jdbcType=INTEGER},
      </if>
      <if test="shopUserId2 != null" >
        shop_user_id2 = #{shopUserId2,jdbcType=INTEGER},
      </if>
      <if test="shopQq != null" >
        shop_qq = #{shopQq,jdbcType=VARCHAR},
      </if>
      <if test="shopWx != null" >
        shop_wx = #{shopWx,jdbcType=VARCHAR},
      </if>
      <if test="shopOperatePhone != null" >
        shop_operate_phone = #{shopOperatePhone,jdbcType=VARCHAR},
      </if>
      <if test="shopUrl != null" >
        shop_url = #{shopUrl,jdbcType=VARCHAR},
      </if>
      <if test="maturity != null" >
        maturity = #{maturity,jdbcType=VARCHAR},
      </if>
      <if test="shopType != null" >
        shop_type = #{shopType,jdbcType=VARCHAR},
      </if>
      <if test="mainOperate != null" >
        main_operate = #{mainOperate,jdbcType=VARCHAR},
      </if>
      <if test="shopTbtype != null" >
        shop_tbType = #{shopTbtype,jdbcType=VARCHAR},
      </if>
      <if test="shopJstype != null" >
        shop_jsType = #{shopJstype,jdbcType=VARCHAR},
      </if>
      <if test="shopRealShooting != null" >
        shop_Real_shooting = #{shopRealShooting,jdbcType=VARCHAR},
      </if>
      <if test="operatePhone != null" >
        operate_phone = #{operatePhone,jdbcType=VARCHAR},
      </if>
      <if test="nextTime != null" >
        next_time = #{nextTime,jdbcType=TIMESTAMP},
      </if>
      <if test="followUpRecord != null" >
        follow_up_record = #{followUpRecord,jdbcType=VARCHAR},
      </if>
      <if test="refundsTime != null" >
        refunds_time = #{refundsTime,jdbcType=VARCHAR},
      </if>
      <if test="refundsMoney != null" >
        refunds_money = #{refundsMoney,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="operatorUserId != null" >
        operator_user_id = #{operatorUserId,jdbcType=INTEGER},
      </if>
      <if test="extension != null" >
        Extension = #{extension,jdbcType=INTEGER},
      </if>
      <if test="taokeType != null" >
        taoke_type = #{taokeType,jdbcType=VARCHAR},
      </if>
      <if test="cooperation != null" >
        cooperation = #{cooperation,jdbcType=VARCHAR},
      </if>
      <if test="cooperationNum != null" >
        cooperation_num = #{cooperationNum,jdbcType=INTEGER},
      </if>
      <if test="entryNum != null" >
        entry_num = #{entryNum,jdbcType=INTEGER},
      </if>
      <if test="spare != null" >
        Spare = #{spare,jdbcType=VARCHAR},
      </if>
      <if test="privateType != null" >
        private_type = #{privateType,jdbcType=VARCHAR},
      </if>
      <if test="privateUserId != null" >
        private_user_id = #{privateUserId,jdbcType=INTEGER},
      </if>
      <if test="shopBz != null" >
        shop_bz = #{shopBz,jdbcType=VARCHAR},
      </if>
      <if test="shopGroupId != null" >
        shop_group_id = #{shopGroupId,jdbcType=INTEGER},
      </if>
      <if test="shopUserName != null" >
        shop_user_name = #{shopUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luoshi.pojo.TbShop" >
    update tb_shop
    set shop_name = #{shopName,jdbcType=VARCHAR},
      wangwangaccount = #{wangwangaccount,jdbcType=VARCHAR},
      shop_product = #{shopProduct,jdbcType=VARCHAR},
      shop_use_id = #{shopUseId,jdbcType=INTEGER},
      shop_boss = #{shopBoss,jdbcType=VARCHAR},
      shop_phone = #{shopPhone,jdbcType=VARCHAR},
      shop_dept_id = #{shopDeptId,jdbcType=INTEGER},
      shop_user_id2 = #{shopUserId2,jdbcType=INTEGER},
      shop_qq = #{shopQq,jdbcType=VARCHAR},
      shop_wx = #{shopWx,jdbcType=VARCHAR},
      shop_operate_phone = #{shopOperatePhone,jdbcType=VARCHAR},
      shop_url = #{shopUrl,jdbcType=VARCHAR},
      maturity = #{maturity,jdbcType=VARCHAR},
      shop_type = #{shopType,jdbcType=VARCHAR},
      main_operate = #{mainOperate,jdbcType=VARCHAR},
      shop_tbType = #{shopTbtype,jdbcType=VARCHAR},
      shop_jsType = #{shopJstype,jdbcType=VARCHAR},
      shop_Real_shooting = #{shopRealShooting,jdbcType=VARCHAR},
      operate_phone = #{operatePhone,jdbcType=VARCHAR},
      next_time = #{nextTime,jdbcType=TIMESTAMP},
      follow_up_record = #{followUpRecord,jdbcType=VARCHAR},
      refunds_time = #{refundsTime,jdbcType=VARCHAR},
      refunds_money = #{refundsMoney,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      operator_user_id = #{operatorUserId,jdbcType=INTEGER},
      Extension = #{extension,jdbcType=INTEGER},
      taoke_type = #{taokeType,jdbcType=VARCHAR},
      cooperation = #{cooperation,jdbcType=VARCHAR},
      cooperation_num = #{cooperationNum,jdbcType=INTEGER},
      entry_num = #{entryNum,jdbcType=INTEGER},
      Spare = #{spare,jdbcType=VARCHAR},
      private_type = #{privateType,jdbcType=VARCHAR},
      private_user_id = #{privateUserId,jdbcType=INTEGER},
      shop_bz = #{shopBz,jdbcType=VARCHAR},
      shop_group_id = #{shopGroupId,jdbcType=INTEGER},
      shop_user_name = #{shopUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>